@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>ErieGarbage</h1>
  <p class="lead">Welcome to ErieGarbage's Account Management System!</p>
  <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
